$input-group-height: 28px;
$input-background-color: rgb(34, 0, 25);

.input-group-outer {
    $input-group-height: 28px;

    display: flex;
    width: 100%;
    height: $input-group-height;
    align-items: center;
    position: relative;

    .result-preview {
        margin: 5px 2px;
        padding: 0 5px;
        position: absolute;
        bottom: $input-group-height;
        background: rgba(255, 255, 191, 0.67);
        color: black;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 2px;
    }
    
    .input-outer {
        display: flex;
        flex: 1 0 0;
        
        label {
            display: none;
        }
        .calculator-input {
            margin: 0;
            padding: 0 3px;
            width: 100%;
            height: $input-group-height - 1px;
            line-height: $input-group-height;
            font-size: 11pt;
            outline: none;
            background-color: $input-background-color;
            border: none;
            border-top: 1px solid transparent;
            color: white;

            &.error {
                border-top-color: #900;
            }
        }
    }

    .calculator-submit-button {
        display: flex;
        margin: 0;
        padding: 0;
        height: $input-group-height;
        flex: 0 0 32px;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        color: transparent;
        background: $input-background-color;
        line-height: 0;
        border: none;
        border-radius: 0;
        outline: none;

        &::before, &::after {
            display: block;
            margin: 2px 0;
            content: '';
            height: 4px;
            width: 20px;
            background: white;
        }
        
        &:active {
            &::before, &::after {
                background: #e9e9e9;
            }
        }
    }

    .calculator-result {
        display: none;
    }
}

